body {
    background-image: url('img/fundo-floresta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-items: center;
}

div {
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
    height: 2700px;
    width: 900px;
    padding: 20px;
    font-size: 26px;
    
}

img {
    width: 900px;
}